<!DOCTYPE html>
<html>
  <head>
    <title><%= site.defaults.Title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>       
  </head>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="bs-component">
      <h1>Books</h1>
    </div>

  <div class="center-align">
    <div class="container">
      <div class="row">
        <% for(var i=0; i<books.length; i++) {%>
          <% if (i%3 == 0 && i != 0) {%>
            </div>
            <div class="row">
          <% } %>
            <div class="col-xs-4 col-sm-4 col-md-4 center-align"> 
              <div class="center-align-col">
                <a href=#>          
                  <img width=250 height=350 class="thumbnail" src= <% if (books[i].picURL) {%> <%= books[i].picURL %> <%} else{%> <%= site.defaults.DefaultBookPictureURL %> <%} %> />
                </a>
              </div>
            </div>
        <% } %>
      </div>     
    </div>
    </div>
   <%- include('../partials/footer') %>
  </body>
</html>
