<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>


<% if(transactionBooks.rentedUsrBooks[0]) {%>
  <h1 class="center-align">Books I Am Currently Renting</h1>

  <br>

  <div class="center-align">
    <div class="container">
      <div class="row p-b-6">
        <% for(var i=0; i<transactionBooks.rentedUsrBooks.length; i++) {%>
          <% if (i%3 == 0 && i != 0) {%>
            </div>
            <div class="row p-b-6">
          <% } %>
            <div class="col-xs-4 col-sm-4 col-md-4"> 
              <div class="center-align-col">

            <div class="view overlay hm-white-strong">
              <a href="/book/<%= transactionBooks.rentedUsrBooks[i]._id %>">
                <img width=250 height=350 src= <% if (transactionBooks.rentedUsrBooks[i].picURL) {%> <%= transactionBooks.rentedUsrBooks[i].picURL %> <%} else{%> <%= site.defaults.DefaultBookPictureURL %> <%} %> />
                <div class="mask">
                  <p class="black-text font-weight-bold text-capitalize title">
                    <% if (transactionBooks.rentedUsrBooks[i].title) {%><%=transactionBooks.rentedUsrBooks[i].title %> <%} %></p>
                  <p class="black-text text-capitalize author">
                    <% if (transactionBooks.rentedUsrBooks[i].author) {%><%=transactionBooks.rentedUsrBooks[i].author %> <%} %></p>
                </div>
              </a>
            </div>

              </div>
            </div>
        <% } %>
      </div>     
    </div>
  </div>
<% } %>
<% if(!transactionBooks.rentedUsrBooks[0]) {%>
  <h1 class="center-align">You have not rented any books</h1>
  <br>
<% } %>


<% if(transactionBooks.loanedUsrBooks[0]) {%>
  <h1 class="center-align">Books I Am Currently Loaning Out</h1>

  <br>

  <div class="center-align">
    <div class="container">
      <div class="row p-b-6">
        <% for(var i=0; i<transactionBooks.loanedUsrBooks.length; i++) {%>
          <% if (i%3 == 0 && i != 0) {%>
            </div>
            <div class="row p-b-6">
          <% } %>
            <div class="col-xs-4 col-sm-4 col-md-4"> 
              <div class="center-align-col">

            <div class="view overlay hm-white-strong">
              <a href="/book/<%= transactionBooks.loanedUsrBooks[i]._id %>">
                <img width=250 height=350 src= <% if (transactionBooks.loanedUsrBooks[i].picURL) {%> <%= transactionBooks.loanedUsrBooks[i].picURL %> <%} else{%> <%= site.defaults.DefaultBookPictureURL %> <%} %> />
                <div class="mask">
                  <p class="black-text font-weight-bold text-capitalize title">
                    <% if (transactionBooks.loanedUsrBooks[i].title) {%><%=transactionBooks.loanedUsrBooks[i].title %> <%} %></p>
                  <p class="black-text text-capitalize author">
                    <% if (transactionBooks.loanedUsrBooks[i].author) {%><%=transactionBooks.loanedUsrBooks[i].author %> <%} %></p>
                </div>
              </a>
            </div>

              </div>
            </div>
        <% } %>
      </div>     
    </div>
  </div>
<% } %>
<% if(!transactionBooks.loanedUsrBooks[0]) {%>
  <h1 class="center-align">You have not loaned any books</h1>
  <br>
<% } %>


  <h1 class="center-align">My Books In Store</h1>

  <br>

  <div class="center-align">
    <div class="container">
      <div class="row p-b-6">
        <% for(var i=0; i<books.length; i++) {%>
          <% if (i%3 == 0 && i != 0) {%>
            </div>
            <div class="row p-b-6">
          <% } %>
            <div class="col-xs-4 col-sm-4 col-md-4"> 
              <div class="center-align-col">

            <div class="view overlay hm-white-strong">
              <a href="/book/<%= books[i]._id %>">
                <img width=250 height=350 src= <% if (books[i].picURL) {%> <%= books[i].picURL %> <%} else{%> <%= site.defaults.DefaultBookPictureURL %> <%} %> />
                <div class="mask">
                  <p class="black-text font-weight-bold text-capitalize title">
                    <% if (books[i].title) {%><%=books[i].title %> <%} %></p>
                  <p class="black-text text-capitalize author">
                    <% if (books[i].author) {%><%=books[i].author %> <%} %></p>
                </div>
              </a>
            </div>

              </div>
            </div>
        <% } %>
      </div>     
    </div>
  </div>





<%- include('../partials/footer') %>
</body>
</html>
