<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="bs-component">
      <h1>Books</h1>
    </div>

  <div class="center-align">
    <div class="container">
      <div class="row">
        <% for(var i=0; i<books.length; i++) {%>
          <% if (i%3 == 0 && i != 0) {%>
            </div>
            <div class="row">
          <% } %>
            <div class="col-xs-4 col-sm-4 col-md-4"> 
              <div class="center-align-col">
                <a href="explore/<%= books[i]._id %>">
                  <div class="hovereffect thumbnail">
                    <a href="explore/<%= books[i]._id %>">
                      <img width=250 height=350 src= <% if (books[i].picURL) {%> <%= books[i].picURL %> <%} else{%> <%= site.defaults.DefaultBookPictureURL %> <%} %> />

                      <div class="overlay">
                                  <a class="title" href="explore/<%= books[i]._id %>"><% if (books[i].title) {%><%=books[i].title %> <%} %></a>
                                  <a class="author" href="explore/<%= books[i]._id %>"><% if (books[i].author) {%><%=books[i].author %> <%} %></a>
                      </div>
                    </a>
                  </div>
                </a>
              </div>
            </div>
        <% } %>
      </div>     
    </div>
    </div>
   <%- include('../partials/footer') %>
  </body>
</html>
