<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

    <h1 class="center-align">Your Transactions</h1>

    <div class="transactions site-margin">

    <h2>Books you have rented / bought</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <% if(toTransactions.length > 0) { %>
      <% for(var i=0; i<toTransactions.length; i++) { %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= toTransactions[i]._id %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= toTransactions[i]._id %>" aria-expanded="false" aria-controls="<%= toTransactions[i]._id %>">
                  Transaction #<%= i+1 %>
                </a>
              </h4>
            </div>
            <div id="<%= toTransactions[i]._id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= toTransactions[i]._id %>">
              <div class="panel-body">
                <h3>Transaction Details</h3>
                <ul>
                    <li>Book Title: <a href="/book/<%= toTransactions[i].bookId %>"><%= toTransactions[i].book.title %></a></li>
                    <li>Transaction Type: 
                      <% if(toTransactions[i].isPurchase) { %>
                        Purchase
                      <% } %>

                      <% if(toTransactions[i].isRent) { %>
                        Rental
                      <% } %>
                    </li>

                    <% if(toTransactions[i].isRent) { %>
                        <li>Returned?: <%= toTransactions[i].hasBeenReturned %></li>
                        <% if(toTransactions[i].isRent) { %>
                          <li title="<%= toTransactions[i].Date %>">Return date: <%= site.moment(toTransactions[i].Date).format('LLL'); %></li>
                        <% } %>
                    <% } %>
                    <li>Owner of Book: <a href="/user/<%= toTransactions[i].toUser._id %>"><%= toTransactions[i].toUser.username %></a></li>
                    <li>Amount of books: <%= toTransactions[i].amount %></li>
                    <li>Cost of transaction: <%= toTransactions[i].cost %></li>
                    <li>Admin invertvention?: 
                      <% if(toTransactions[i].AdminId) { %>
                        true
                        <li>Has transaction been revoked?: <%= toTransactions[i].hasBeenRevoked %></li>
                      <% } %>  

                      <% if(!toTransactions[i].AdminId) { %>
                        false
                      <% } %>
                   
                    </li>
                    <div>
                      <a href="/transaction/<%= toTransactions[i]._id %>/message" class="btn btn-primary" style="color: grey;"> Message Owner</a>
                      <a type="button" data-toggle="modal" data-target="#rateModal<%= i %>" class="btn btn-secondary" style="color: grey;"> Rate Transaction</a> 

                      <!-- Modal -->
                      <div class="modal fade" id="rateModal<%= i %>" tabindex="-1" role="document">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>

                              <form role="form" action="/transaction/<%= toTransactions[i]._id %>/rate" method="post" class="box">
                              <p>Please rate this transaction.</p>

                              <div class="form-group">
                                  <p>Rating (1-5): </p><input name="rating" type="number" class="form-control" tabindex="1" min="1" step="1" max="5" id="rating" value="1">      
                              </div>
                              <div class="modal-body new-book">
                                    <div class="form-group">
                                        <p>Are you sure?</p>             
                                    </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-light-green">Rate</button>            
                              </div>

                            </form>
                          </div>
                        </div>
                      </div>

                      <!-- Report Modal -->
                      <div class="modal fade" id="reportModal" tabindex="-1" role="document">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Report Transaction #<%= i+1 %></h4>
                            </div>

                            <form role="form" action="/transaction/<%= transaction._id %>/report" method="post" class="box">        
                              <div class="modal-body new-book">
                                  <div class="form-group">
                                    <label for="summary">Message:</label>
                                    <textarea class="form-control" tabindex="1" rows="5" name="message" required></textarea>
                                  </div>

                                  <div class="form-group">
                                    <label class="control-label col-sm-2" for="defaultProfilePictureURL">Priority: </label>
                                    <div class="col-sm-10">
                                      <input type="number" class="form-control" tabindex="1" data-toggle="tooltip" title="Priority" placeholder="Priority" name="priority" value="1" min="1" max="10">
                                    </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-light-green">Report</button>            
                              </div>

                            </form>
                          </div>
                        </div>
                      </div>

                    </div>  
                </ul>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>

    <% if(toTransactions.length === 0) { %>
      <p class="text-muted">You have not yet purchased or rented any books.</p>
    <% } %>

    </div>

    <br/>

    <h2>Books you have put on the market</h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <% if(fromTransactions.length > 0) { %>
      <% for(var i=0; i<fromTransactions.length; i++) { %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= fromTransactions[i]._id %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= fromTransactions[i]._id %>" aria-expanded="false" aria-controls="<%= fromTransactions[i]._id %>">
                  Transaction #<%= i+1 %>
                </a>
              </h4>
            </div>
            <div id="<%= fromTransactions[i]._id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= fromTransactions[i]._id %>">
              <div class="panel-body">
                <h3>Transaction Details</h3>
                <ul>
                    <li>Book Title: <a href="/book/<%= fromTransactions[i].bookId %>"><%= fromTransactions[i].book.title %></a></li>
                    <li>Transaction Type: 
                      <% if(fromTransactions[i].isPurchase) { %>
                        Purchase
                      <% } %>

                      <% if(fromTransactions[i].isRent) { %>
                        Rental
                      <% } %>
                    </li>

                    <% if(fromTransactions[i].isRent) { %>
                        <li>Returned?: <%= fromTransactions[i].hasBeenReturned %></li>
                        <% if(fromTransactions[i].isRent) { %>
                          <li title="<%= fromTransactions[i].Date %>">Return date: <%= site.moment(fromTransactions[i].Date).format('LLL'); %></li>
                        <% } %>
                    <% } %>
                    <li>Customer: <a href="/user/<%= fromTransactions[i].fromUser._id %>"><%= fromTransactions[i].fromUser.username %></a></li>
                    <li>Amount of books: <%= fromTransactions[i].amount %></li>
                    <li>Cost of transaction: <%= fromTransactions[i].cost %></li>
                    <li>Admin invertvention?: 
                      <% if(fromTransactions[i].AdminId) { %>
                        true
                        <li>Has transaction been revoked?: <%= fromTransactions[i].hasBeenRevoked %></li>
                      <% } %>  

                      <% if(!fromTransactions[i].AdminId) { %>
                        false
                      <% } %>                     
                    </li>

                    <div>
                      <a href="/transaction/<%= fromTransactions[i]._id %>/message" class="btn btn-primary" style="color: grey;"> Message Customer</a>
                      <button type="button" class="btn btn-lg btn-rent btn-error" data-toggle="modal" data-target="#reportModal">
                        Report
                      </button>

                      <!-- Report Modal -->
                      <div class="modal fade" id="reportModal" tabindex="-1" role="document">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Report Transaction #<%= i+1 %></h4>
                            </div>

                            <form role="form" action="/transaction/<%= transaction._id %>/report" method="post" class="box">        
                              <div class="modal-body new-book">
                                  <div class="form-group">
                                    <label for="summary">Message:</label>
                                    <textarea class="form-control" tabindex="1" rows="5" name="message" required></textarea>
                                  </div>

                                  <div class="form-group">
                                    <label class="control-label col-sm-2" for="defaultProfilePictureURL">Priority: </label>
                                    <div class="col-sm-10">
                                      <input type="number" class="form-control" tabindex="1" data-toggle="tooltip" title="Priority" placeholder="Priority" name="priority" value="1" min="1" max="10">
                                    </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-light-green">Report</button>            
                              </div>

                            </form>
                          </div>
                        </div>
                      </div>

                    </div>  
                </ul>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>

    <% if(fromTransactions.length === 0) { %>
      <p class="text-muted">None of your books have been rented or bought.</p>
    <% } %>

    </div>

    </div>

  <%- include('../partials/footer') %>
  </body>
</html>
