<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>       
  </head>
  <body>   
   <%- include('partials/navbar') %>
  	<div class="bs-component">
      <h1>Books</h1>

    <div class="list-group" id="results">
      <% for(var i=0; i<books.length; i++) {%>
         <a href=# class=list-group-item>
            <div class=media>
              <div class=media-left>
                <img width="150" class=media-object src= <%if (books[i].picURL) {%>  <%= books[i].picURL %>  <%} else{%> <%= defaults.DefaultBookPictureURL %> <%}%> />
              </div>
              <div class=media-body>
                <h3 class=media-heading>
                  <strong><%= books[i].title %></strong>
                </h3>
                by <Strong><%= books[i].author %></Strong><br/>
                  <%= books[i].edition %> <br/>
                  <%= books[i].interests %> <br/>
              </div>
            </div>
          </a>
      <% } %>
    </div>
   <%- include('partials/footer') %>
  </body>
</html>
