<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>   
   <%- include('partials/navbar') %>
  	<div class="bs-component">
      <div class="jumbotron">
        <img height="300"src="books-and-mouse-2400px.png"/>
        <h1><%= site.defaults.Title %></h1>
        <p>Welcome to <%= site.defaults.Title %></p>   
      </div>
    </div>
     <%- include('partials/footer') %>
  </body>
</html>
