<!DOCTYPE html>
<html>
  <head>
    <title><%= site.defaults.Title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>       
  </head>
  <body>   
   <%- include('partials/navbar') %>
  	<div class="bs-component">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>   
      </div>
    </div>
     <%- include('partials/footer') %>
  </body>
</html>
