<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="site-margin">
      <h1><%= user.username %>'s Profile</h1>
    </div>

  <!-- <div class="center-align"> -->
    <!-- <div class="user site-margin"> -->


        <!-- Portfolio Item Row -->
        <!-- <div class="row">

            <div class="col-md-3">
                <img class="img-responsive account-picture" src=<% if (user.picURL) {%> <%= user.picURL %> <%} else{%> <%= site.defaults.DefaultProfilePictureURL %> <%} %> >
            </div>

            <div class="col-md-5">
                <h3><%= user.name %></h3>
                <ul>
                    <li>Username: <strong><%= user.username %></strong></li>
                    <li>Name: <strong><%= user.name %></strong></li>
                    <li>Email: <strong><%= user.email %></strong></li>
                    <li>userId: <strong><%= user.userId %></strong></li>
                    <li>Interests: <strong><% if (user.interests) {%> 
                                    <%= user.interests[0]  %> 
                                      <% for(var i=1; i<user.interests.length; i++) {%>
                                         , <%= user.interests[0]  %>
                                     <% } %> 
                                   <%} %> </strong></li>
                    <li>Address: <strong><%= user.address %></strong></li>
                    <li>Phone: <strong><%= user.phone %></strong></li>
                    <li title="<%= user.lastLoginDate %>">Last Login Date: <strong><%= site.moment(user.lastLoginDate).format('LLL'); %></strong></li>
                    <li title="<%= user.registrationDate %>">Registration Date: <strong><%= site.moment(user.registrationDate).format('LLL'); %></strong></li>
                </ul>
                <div class="row">
                  <div class=col-md-6>
                    <h3>Books Borrowed:</h3>
                  </div>

                  <div class=col-md-6>
                    <h3>Books Traded Away:</h3>
                  </div>
              </div>
              <br>
            </div>
    </div>
     -->

  <!-- </div> -->







<div class="container">
    <div class="row">
      <div class="col-sm-4"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span> <%= user.username %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> <%= user.name %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <%= user.email %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Address</strong></span> <%= user.address %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> <%= user.phone %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last Seen</strong></span> <%= site.moment(user.lastLoginDate).format('LLL'); %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> <%= site.moment(user.registrationDate).format('LLL'); %></li>
            
          </ul> 
               
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Sold</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Bought</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Borrowed</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Rented Away</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
              <img src="assets/glyphicons-social/glyphicons-social-31-facebook.png">  
              <img src="assets/glyphicons-social/glyphicons-social-22-github.png">  
              <img src="assets/glyphicons-social/glyphicons-social-32-twitter.png">  
              <img src="assets/glyphicons-social/glyphicons-social-3-google-plus.png">  
              <img src="assets/glyphicons-social/glyphicons-social-1-pinterest.png">  
            </div>
          </div>
          
        </div><!--/col-3-->
      <div class="col-sm-8">
          
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              
                
              
              
             
              
              <h4>Recent Activity</h4>
              
              <div class="table-responsive">
                <table class="table table-hover">
                  
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  
                </ul> 
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
                
                
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                </form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->



    
    
    </div>
  </div>
</div>
</div>









  <%- include('../partials/footer') %>
  </body>
</html>
