<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

   <% if(!user.isMain) { user=userInfo } %>
  <div class="site-margin">
      <h1><%= user.username %>'s Profile</h1>


  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-4"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item center-align"><img src= <% if (user.picUrl) {%> <%= user.picUrl %> <%} else{%> <%= site.defaults.DefaultProfilePictureURL %> <%} %> width="100%" height="100%" /></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span> <%= user.username %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> <%= user.name %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <%= user.email %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Address</strong></span> <%= user.address %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> <%= user.phone %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last Seen</strong></span> <%= site.moment(user.lastLoginDate).format('LLL'); %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> <%= site.moment(user.registrationDate).format('LLL'); %></li>
          </ul>               


         <!--  Social Media Panel. Will implement later -->
          <!-- <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
              <img src="assets/glyphicons-social/glyphicons-social-31-facebook.png">  
              <img src="assets/glyphicons-social/glyphicons-social-22-github.png">  
              <img src="assets/glyphicons-social/glyphicons-social-32-twitter.png">  
              <img src="assets/glyphicons-social/glyphicons-social-3-google-plus.png">  
              <img src="assets/glyphicons-social/glyphicons-social-1-pinterest.png">  
            </div>
          </div> -->
          
      </div><!--/col-4-->
      <div class="col-sm-5">         
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <h4>Recent Activity</h4>
              
              <div class="table-responsive">
                <table class="table table-hover">
                  
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <ul class="list-group">
                <li class="list-group-item text-muted">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Books Sold</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Books Bought</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Books Borrowed</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Books Rented Away</strong></span> 78</li>
              </ul>

              <ul class="list-group">
                <li class="list-group-item text-muted">Interests</li>
                <% if (user.interests.length > 0) {%>
                  <% for(var i=0; i<user.interests.length; i++) {%>
                    <li class="list-group-item"><span><strong><%=user.interests[i]%></strong></span></li>
                  <% } %>
                <%} else{%>
                  <li class="list-group-item text-right"><span class="pull-left"><strong></strong></span>No Interests</li>
                <%}%>
              </ul>

         </div>
          
        </div>
      </div>

    </div>

</div>

  <%- include('../partials/footer') %>
  </body>
</html>
