<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>
    <%- include('../partials/navbar') %>
  	<div class="bs-component">
      <div class="jumbotron">
        <h1>Error <%= title %></h1>
    		<p><%= statusCode %></p>
    		<pre class="stack-trace">
    			Sorry but the endpoint or resource you are looking for does not exist.
    		</pre>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
