<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

    <h1 class="center-align">Your Messages</h1>

    <div class="new-book box">

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><span class="glyphicon glyphicon-envelope" style="color: grey;" aria-hidden="true"></span> User Messages</h3>
      </div>     
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <% if(messages.userMessages.length > 0) { %>
      <% for(var i=0; i<messages.userMessages.length; i++) { %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= messages.userMessages[i]._id %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= messages.userMessages[i]._id %>" aria-expanded="false" aria-controls="<%= messages.userMessages[i]._id %>">
                  User Message #<%= i+1 %>
                </a>
              </h4>
            </div>
            <div id="<%= messages.userMessages[i]._id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= messages.userMessages[i]._id %>">
              <div class="panel-body">
                <h3>Message Details</h3>
                <ul>
                    <li>Date: <%= site.moment(messages.userMessages[i].date) %></li>
                    <li>Message: <%= messages.userMessages[i].message %></li>
                    <li>Priority: <%= messages.userMessages[i].priority %></li>
                    <li>From User: <a href="/user/<%= messages.userMessages[i].fromUserId %>"><%= messages.userMessages[i].fromuser.username %></a></li>
                    <li>To User: <a href="/user/<%= messages.userMessages[i].toUserId %>"><%= messages.userMessages[i].toUser.username %></a></li>
                    <% if (messages.userMessages[i].bookId) { %>
                     <li>Book: <a href="/book/<%= messages.userMessages[i].bookId %>"><%= messages.userMessages[i].book.title %></a></li>
                    <% } %>
                    <% if (messages.userMessages[i].transactionId) { %>
                     <li>Transaction: <%= messages.userMessages[i].transactionId %></li>
                    <% } %>
                   
                    <li>Admin Message?: 
                      <% if(messages.userMessages[i].adminId) { %>
                        true
                      <% } %>  

                      <% if(!messages.userMessages[i].adminId) { %>
                        false
                      <% } %>
                   
                    </li>
                    <div>
                      <a href="/message/<%= messages.userMessages[i]._id %>/reply" class="btn btn-primary" style="color: grey;"> Reply</a>
                    </div>    
                </ul>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>

    <% if(messages.userMessages.length === 0) { %>
      <p class="text-muted">No User Messages.</p>
    <% } %>

    <br>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><span class="glyphicon glyphicon-envelope" style="color: grey;" aria-hidden="true"></span> System Messages</h3>
      </div>     
    </div>
    
    <% if(messages.systemMessages.length > 0) { %>
      <% for(var i=0; i<messages.systemMessages.length; i++) { %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= messages.systemMessages[i]._id %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= messages.systemMessages[i]._id %>" aria-expanded="false" aria-controls="<%= messages.systemMessages[i]._id %>">
                  System Message #<%= i+1 %>
                </a>
              </h4>
            </div>
            <div id="<%= messages.systemMessages[i]._id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= messages.systemMessages[i]._id %>">
              <div class="panel-body">
                <h3>Message Details</h3>
                <ul>
                    <li>Date: <%= site.moment(messages.systemMessages[i].date) %></li>
                    <li>Message: <%= messages.systemMessages[i].message %></li>
                    <li>Priority: <%= messages.systemMessages[i].priority %></li>                    
                    <li>Admin User: <a href="/user/<%= messages.systemMessages[i].adminId %>"><%= messages.systemMessages[i].admin.username %></a></li>
                </ul>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>

    <% if(messages.systemMessages.length === 0) { %>
      <p class="text-muted">No System Messages.</p>
    <% } %>

    </div>

  <%- include('../partials/footer') %>
  </body>
</html>
