<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>
    
    <h1 class="center-align">Reports</h1>

    <h2><span class="glyphicon glyphicon-envelope" style="color: grey;" aria-hidden="true"></span> Open Reports</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <% if(reportedUsers.openReports.length > 0) { %>
      <% for(var i=0; i<reportedUsers.openReports.length; i++) { %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= reportedUsers.openReports[i]._id %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= reportedUsers.openReports[i]._id %>" aria-expanded="false" aria-controls="<%= reportedUsers.openReports[i]._id %>">
                  User Report #<%= i+1 %>
                </a>
              </h4>
            </div>
            <div id="<%= reportedUsers.openReports[i]._id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= reportedUsers.openReports[i]._id %>">
              <div class="panel-body">
                <h3>Report Details</h3>
                <ul>
                    <li>Date: <%= site.moment(reportedUsers.openReports[i].date) %></li>
                    <li>Message: <%= reportedUsers.openReports[i].message %></li>
                    <li>Priority: <%= reportedUsers.openReports[i].priority %></li>
                    <li>Reporting User: <a href="/user/<%= reportedUsers.openReports[i].reportingUserId %>"><%= reportedUsers.openReports[i].reportingUser.username %></a></li>
                    <% if (reportedUsers.openReports[i].bookId) { %>
                     <li>Book: <a href="/book/<%= reportedUsers.openReports[i].bookId %>"><%= reportedUsers.openReports[i].book.title %></a></li>
                    <% } %>
                    <% if (reportedUsers.openReports[i].transactionId) { %>
                     <li>Transaction: <%= reportedUsers.openReports[i].transactionId %></li>
                    <% } %>
                   
                    <li>Report Been Resolved?: 
                      <% if(reportedUsers.openReports[i].reportClosed) { %>
                        true
                      <% } %>  

                      <% if(!reportedUsers.openReports[i].reportClosed) { %>
                        false
                      <% } %>
                   
                    </li>   
                </ul>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>

    <% if(reportedUsers.length === 0) { %>
      <p class="text-muted">No User's Have Been Reported.</p>
    <% } %>

  </div>

  <%- include('../partials/footer') %>
  </body>
</html>
